{% extends 'main.html' %}
{% load staticfiles%}
{%block blog%}

		<h6>{{blog.blog_pub_date}}</h6>

		<h4>{{blog.blog_title}}</h4>

			
		<p>{{blog.blog_text}}</p>

		<p> <img src="{%static "Like.png"%}" alt="" width="35 px" height="35 px">{{blog.blog_likes}}</p>

		<img src="{{blog.blog_image.url}}" width="450" height="300">
		<hr>
{%endblock%}