{% extends 'main.html' %}
{% load staticfiles%}
{%block blog%}
	<p>{%for blog in blogs%}

		
<div class="raw">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
				<h6>{{blog.blog_pub_date}}</h6>
			<h4><a href="/blog/{{blog.id}}">{{blog.blog_title}}</h4></a>
				<p>{{blog.short_text}}</p>
		
		

			<img src="{{blog.blog_image.url}}" width="250" height="250">
		</div>
</div>
		{%endfor%}
		</p>
{%endblock%}