
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="row"  id="header">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h1><a href="/blog/">Мой Блог</a></h1>
{% block blog%}{%endblock%}
    
            
        <div class="row" id="content">
      </div>
    {%block comments%} {%endblock%}
</body>
</html>