#content {
    margin: 0 10%;
}
@media screen and (max-width: 980px) {
   #content {
        margin: 0 0;
    }
}
.blog-header {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    border-radius: 5px;
}
.description {
    color: #999;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.footer {
    padding: 0 10px 20px;
}
.author {
    text-decoration: none !important;
}
.load-btn {
    margin-bottom: 15px;
}